[submodule "jasmin"]
	path = jasmin
	url = git@github.com:soulwa/jasmin
	branch = sam/yalm
[submodule "ssprove"]
	path = ssprove
	url = git@github.com:SSProve/ssprove.git
[submodule "hax"]
	path = hax
	url = git@github.com:soulwa/hax
